<div class="container">
 <div class="row about">
  <h1 class="h1 col mt-5">ユーザー検索</h1>
 </div>
 <div class="row mt-5">
  <div class="col-lg-12 mt-5">
   <%= render 'customer/customers/customer', customer:@customers%>
  </div>
 </div>
</div>