<h1>会員一覧</h1>
<table>
 <tbody>
  <% @customer.each do |customer| %>
  <tr>
   <td class="pl-md-5"><%= attachment_image_tag customer, :image, size: "100x100", class: "rounded-circle", fallback: "no_image.jpg" %></td>
   <td class="pl-md-3"><%= link_to customer.nickname, customer_customer_path(customer) %></td>
  </tr>
  <% end %>
 </tbody>
</table>