<h2 class="text-center mt-5">このサイトはカテゴリー毎にページが分かれたSNSサイトです！！！</h2>
<h2 class="text-center mt-2">好きなカテゴリーを追加して、そのカテゴリーについて投稿しましょう！！！</h2>

<h5 class="text-right pt-2">※不快なコメントや他人を傷つける投稿があったら通報してください</h5>