<h2 class="text-center mt-5 about-top">このサイトはカテゴリー毎にページが分かれたSNSサイトです！！！</h2>
<h2 class="text-center mt-2 about-top">好きなカテゴリーを追加して、そのカテゴリーについて投稿しましょう！！！</h2>
<h3 class="text-left mt-2 ml-5 h1 about">
  サイトの使い方
</h3>

<h5 class="mt-2 about-body">
  ・カテゴリーはジャンルに沿ったものを追加してください！<br>
  ・カテゴリーを追加するときは、名前と画像両方入力してください！<br>
  ・投稿はカテゴリーに沿ったものを投稿してください！<br>
  ・投稿するときは、本文か画像どちらかを入力してください！<br>
  ・右上の<div class="fas fa-undo fa-1x"></div>で一つ前のページに戻ることができます!<br>
  ・投稿、いいね、コメント、フォローをする場合はログインしないとできません
</h5>


<h5 class="text-right pt-2">※不快なコメントや他人を傷つける投稿があったら通報してください</h5>