<h1>人気カテゴリー</h1>
<div class="col ml-5">
 <div class="card-deck card-colums lg-12" style="width:80rem;">
    <% @rank.each do |category| %>
     <div class="card text-white bg-dark">
      <div><%= attachment_image_tag category, :image, size: "400x300", class: "card-img-top" %></div>
      <div class="card-body">
       <%= link_to category.name, customer_genre_category_posts_path(category.genre_id,category), class: "card-title" %>
        </div>
     </div>
    <% end %>
 </div>
</div>
