<div class="container">
 <div class="row">
  <h1 class="h1 mt-5">ジャンル登録</h1>
 </div>



  <div class="mt-5">
   <%= form_with model: @genre, url: admin_genres_path, local:true do |f| %>
    <%= f.label "ジャンル名"%>
    <%= f.text_field :name %><br>
    <%= f.submit "ジャンル新規登録!", class: "btn btn-success ml-5 mt-2"%>
   <% end %>
  </div>
 </div>
</div>