<h1 class="ml-5">通知</h1>
<% notifications = @notifications.where.not(visitor_id: current_customer.id) %>
<!--自分以外の投稿に対する通知-->
<% if notifications.exists? %>
<%= render 'customer/notifications/index', notifications:@notifications%>
<% else %>
 <h4>通知はありません</h4>
<% end %>