/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

.genre-btn{
 border-radius: 100vh;
 background: #f56500;
 content: "";
  position: absolute;
  bottom: -8px;
  right: -8px;
  margin-top: -15px;
  border: 15px solid transparent;
  z-index: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: relative;
  display: inline-block;
  margin: 1.5em 15px 1.5em 0;
  padding: 0 5px;
  width: 200px;
  height: 150px;
  line-height: 90px;
  text-align: center;
  color: #FFF;
  font-size: 40px;
  font-weight: bold;
  background: #a58eff;
  border-radius: 50%;
  box-sizing: border-box;
  background-image: url("wood.jpg");
  opacity: 0.75;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}


.header{
 background-image: url("wood.jpg");
 background-size: cover;
}


.body{
 font-family: "AppleSDGothicNeo-Heavy","Apple SD Gothic Neo"; font-weight: 900;
}

.tag{
 color: green;
}

.back{
  position: fixed;
  // 常に同じ位置に表示される
  right: 40px;
  top: 100px;
}

.report_title{
 opacity: 0.5;
}

.Heading {
  position: relative;
  color: #158b2b;
  font-size: 40px;
  padding: 10px 0;
  text-align: center;
  margin: 1.5em 0;
}
.Heading:before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  width: 300px;
  height: 90px;
  border-radius: 50%;
  border: 5px solid #a6ddb0;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.h1 {
  color: #010079;
  text-shadow: 0 0 5px white;
  border-left: solid 7px #010079;
  background: -webkit-repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  height: 50px;
}

.mypage{
 height: 50px;
 width: 200px;
}