<div class="container">
 <div class="row">

<div class="col-lg-12 text-right">カテゴリーを追加したい場合はこちらから<%= link_to "", new_customer_genre_category_path, class: "fas fa-plus fa-5x"%></div>

 <div class="card-deck card-colums lg-12">
    <% @categories.each do |category| %>
    <div class="col-4 mb-3">
     <div class="card text-white bg-dark">
      <div><%= attachment_image_tag category, :image, fallback: "no_image.jpg", size: "300x250", class: "card-img-top" %></div>
      <div class="card-body">
       <%= link_to category.name, customer_genre_category_posts_path(category.genre_id,category), class: "card-title" %>
      <% if category.customer_id == current_customer.id %>
       <%= link_to "変更", edit_customer_genre_category_path(category.genre_id,category), class: "card-text"%>
      <% end %>
        </div>
     </div>
    </div>
    <% end %>
 </div>
</div>
</div>


